*
{
    margin: 0;
    padding: 0;
}

p{
    word-wrap: break-word;
}
/*start the logo*/
.logo-image a
{
    text-decoration-line: none;
    color: rgba(255, 20, 192, 1)
}
/*end the logo-------------------------------------------------------------*/

/*start of side bar*/
.sidenav {
  width: 0px; 
  position: fixed; 
  z-index: 100; 
  top: 150px; 
  right: 0;
  overflow: hidden; 
  transition: 0.5s;
}
.sidenav .closebtn {
  position: relative;
  top: 0px;
  left: 5px;
  font-size: 20px;
}
.web-color{
    width: 25px;
    height:25px;
    float: left;
    cursor: pointer;
}
.my-colors{
    right: 0px;
    top: 150px;
    z-index: 100;
    position: fixed;
    font-size:30px;
    cursor:pointer;

}

.img-change
{
    width: 50px;
    height:50px;
    float: left;
}
/*end of sidebar------------------------------------------------------------*/

/*start of header*/
.flod {
    background: url(images/header-1.jpg) repeat scroll center center / cover;
    height:700px;
}
/*end of header---------------------------------------------------------------*/

/*start of class for color*/
.bg-color{
    background-color: rgba(255, 255, 255, 1)
}
/*end class of color----------------------------------------------------------*/

/*start of color of pharagraph*/
.col-p{
    color:rgba(255, 20, 192, 1)
}

p a{
    text-decoration: none;
}
/*end of color of pharagraph-----------------------------------------*/
/*start of click on image samples*/

.img-cont 
{
   position: relative; 
}


.overlay 
{
    background-color: rgba(125,125,0,0.5); 
    position: absolute; 
    bottom: 5%; 
    width: 90%; 
    left: 5%; 
    padding: 10px;
    text-align: center;
    
}


.back-box 
{
    position: fixed; 
    width: 100%; 
    height: 80%; 
    top: 10px;
    background-color: rgba(0,0,0,0.7);  
    display: none ;
     
}

img 
{
    cursor: pointer
}


.slide
{
    width: 40%; 
    height: 90%; 
    background-image: url(../image/agave-botanical-botany-1533960.jpg); 
    background-size: 100% 100% ; 
}

.show 
{
    display: flex;
}

.icon-mine
{
    color: red;
    cursor: pointer;
}


.ico-close
{
    color: red; 
    position: absolute; 
    right: 30px; 
    top: 40px; 
    cursor: pointer
}

/*end of click on image samples------------------------------------------------------*/

/*start of the image animation of samples*/
#logo-holder {
    position:relative; 
}

#logo-holder img,
#logo-holder .text {
    transition: all 2s ease-in-out 0.5s;
    cursor: pointer;
}
#logo-holder .text 
{
    position:absolute; 
    top:30%; 
    left:0; 
    opacity:0;
}

#logo-holder:hover img {
    opacity:0;
    opacity: 0.1;
    animation:shake 0.7s;
    border-radius: 50%;
}
#logo-holder:hover .text {
    opacity:1;
}

/*end of image animation----------------------------------------------------*/
